$grid-column-span: 4;

.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;

  .cell {
    &--xs {
      grid-column: span 3;
    }

    &--sm {
      grid-column: span 4;
    }

    &--md {
      grid-column: span 8;
    }

    &--lg {
      grid-column: span 12;
    }
  }

  &--calculator {
    gap: spacing();
  }

  &--skills {
    .cell {
      &--sm {
        aspect-ratio: 1;
      }
  
      &--md {
        aspect-ratio: 8/4;
      }
  
      &--lg {
        aspect-ratio: 12/3;
      }
    }
  }
}